---
http_interactions:
- request:
    method: post
    uri: https://mutestapi.snapfulfil.net/api/shipments
    body:
      encoding: UTF-8
      string: ShipmentId=TEST-SHIPMENT-001&CustomerId=1&DateDueOut=1849-10-31T00%3A00%3A00%2B00%3A00
    headers:
      Authorization:
      - Basic TVVBUEk6TVVBUEkx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://mutestapi.snapfulfil.net/Sandbox/Index/TEST-SHIPMENT-001
    body:
      encoding: UTF-8
      string: '{"ShipmentId":"TEST-SHIPMENT-001","BizId":"BIZ1","BizSalesOrder":null,"Status":"00","OrderType":"S01","OrderClass":"SHIP","CustomerId":"1","BizCustomerId":null,"CustomerGroup":null,"CustomerName":null,"ShippingAddressId":"ADD1","InvoiceAddressId":"ADD1","Site":"0001","Warehouse":"MEUNDIES","OwnerId":"MEUNDIES","StockStatus":"00","SalesOrder":null,"Prime":"TEST-SHIPMENT-001","PriorityAllocation":"03","PriorityDespatch":"03","CustomerRef":null,"ConsigmentId":"TEST-SHIPMENT-001","PickGroupId":null,"ASNNumber":null,"DNoteNumber":null,"InvoiceNumber":null,"ManifestNumber":null,"POD":null,"ShippingMethod":null,"Region":null,"CarrierId":null,"CarrierTrackingNumber":null,"Route":null,"LoadId":null,"LoadSequence":0.0,"PackStation":null,"ShippingLane":"GO01","ReturnReason":null,"QC":null,"Lines":0.0,"LineQty":0.0,"StUQty":null,"Volume":0.000000,"Weight":0.000000,"ActualWeight":0.000000,"TaskCountNew":null,"TaskCountCurrent":null,"TaskCountActioned":null,"TimeToPick":0.0,"TimeToPack":0.0,"TimeToCheck":0.0,"TimeToLoad":0.0,"TimeOther":0.0,"TimeToDeliver":0.0,"InvoiceInd":null,"Currency":"USD","LineValue":null,"Discount":null,"Packing":null,"Freight":null,"Insurance":null,"Charges":0.000000,"Allowances":null,"Tax":null,"InvoiceValue":null,"ShortageCode":null,"Variance":null,"CutOffInd":"0","Supervisor":null,"Reason":null,"DateCreated":"2018-09-16T00:09:13","DateSuspended":null,"DateClosed":null,"DateDueOut":"1849-10-30T19:00:00","DateShipment":"1849-10-30T19:00:00","DateDelivery":"1849-10-30T19:00:00","DateInvoice":null,"ASNInd":null,"OverdueInd":"0","Stage":"00","MaintInd":"H","ShipmentLines":[],"ShipAddress":[],"ShipContacts":[],"ShipmentDespatch":[]}'
  recorded_at: Sun, 16 Sep 2018 07:09:30 GMT
recorded_with: VCR 4.0.0
