---
http_interactions:
- request:
    method: get
    uri: https://mutestapi.snapfulfil.net/api/stocktotals
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TVVBUEk6TVVBUEkx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"SKUId":"FTM800-FTB-L","LineID":"JDRSPZ5YC1","State":"W","Site":"0001","Facility":"MEUNDIES","BizId":"BIZ1","OwnerId":"MEUNDIES","Status":"00","Unit":"EAC","Qty":0.0,"QtyAllocated":0.0,"QtyAssigned":0.0,"QtyOrderIn":0.0,"QtyDueIn":0.0,"QtyOrderOut":0.0,"QtyDueOut":1.0,"StockLevelIndicator":"00","DateLastMoved":"2018-09-03T16:53:50","Product":null},{"SKUId":"FTM800-FTE-L","LineID":"JEA6JXAZKD","State":"W","Site":"0001","Facility":"MEUNDIES","BizId":"BIZ1","OwnerId":"MEUNDIES","Status":"00","Unit":"EAC","Qty":0.0,"QtyAllocated":0.0,"QtyAssigned":0.0,"QtyOrderIn":0.0,"QtyDueIn":0.0,"QtyOrderOut":0.0,"QtyDueOut":1.0,"StockLevelIndicator":"00","DateLastMoved":"2018-09-13T09:12:57","Product":null},{"SKUId":"FTW800-FTB-L","LineID":"JCRTJ4Y4H4","State":"W","Site":"0001","Facility":"MEUNDIES","BizId":"BIZ1","OwnerId":"MEUNDIES","Status":"00","Unit":"EAC","Qty":0.0,"QtyAllocated":0.0,"QtyAssigned":0.0,"QtyOrderIn":0.0,"QtyDueIn":0.0,"QtyOrderOut":0.0,"QtyDueOut":6.0,"StockLevelIndicator":"00","DateLastMoved":"2018-08-16T20:05:32","Product":null}]'
  recorded_at: Mon, 17 Sep 2018 05:13:48 GMT
recorded_with: VCR 4.0.0
