---
http_interactions:
- request:
    method: get
    uri: https://mutestapi.snapfulfil.net/api/stocktotals?$filter=SKUId%20eq%20%27U002-CAB-M/L%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic TVVBUEk6TVVBUEkx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"SKUId":"U002-CAB-M/L","LineID":"JCRTJ6RBD7","State":"W","Site":"0001","Facility":"MEUNDIES","BizId":"BIZ1","OwnerId":"MEUNDIES","Status":"00","Unit":"EAC","Qty":0.0,"QtyAllocated":0.0,"QtyAssigned":0.0,"QtyOrderIn":0.0,"QtyDueIn":540.0,"QtyOrderOut":0.0,"QtyDueOut":2.0,"StockLevelIndicator":"00","DateLastMoved":"2018-11-19T16:53:22","Product":null}]'
  recorded_at: Tue, 08 Jan 2019 20:08:18 GMT
recorded_with: VCR 4.0.0
