---
http_interactions:
- request:
    method: get
    uri: https://mutestapi.snapfulfil.net/api/snapoutbound?$top=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TVVBUEk6TVVBUEkx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Host":"HOST_API","XDoc":"OUA2662425","Transaction":"DESPATCH","Key":"Shipment=\"R462713702\"
        Stage=\"15\"","Batch":null,"DateCreated":"2018-08-03T16:08:43","DateProcessed":null,"Stage":"00"}]'
  recorded_at: Mon, 01 Oct 2018 01:26:28 GMT
recorded_with: VCR 4.0.0
