---
http_interactions:
- request:
    method: get
    uri: https://mutestapi.snapfulfil.net/api/stocktotals/B1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic TVVBUEk6TVVBUEkx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"SKUId":"B1000","LineID":"JJ5GJ39585","State":"W","Site":"0001","Facility":"MEUNDIES","BizId":"BIZ1","OwnerId":"MEUNDIES","Status":"00","Unit":"EAC","Qty":0.0,"QtyAllocated":0.0,"QtyAssigned":0.0,"QtyOrderIn":0.0,"QtyDueIn":11800.0,"QtyOrderOut":0.0,"QtyDueOut":0.0,"StockLevelIndicator":"00","DateLastMoved":"2018-11-30T09:51:22","Product":null}]'
  recorded_at: Thu, 06 Dec 2018 20:29:39 GMT
recorded_with: VCR 4.0.0
